/* Container for adding products */
.add-product-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* Wrapper for content */
.wrapper {
    display: flex;
    justify-content: flex-start;
}

/* Wrapper for the first column */
.column1wrapper {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* Form for adding products */
.add-product-form {
    border: 1px solid #ccc;
    padding: 20px;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
}

/* Style for input wrappers */
.add-product-form .input-wrapper {
    margin-bottom: 10px;
}

/* Style for label tags */
.add-product-form label {
    display: block;
    font-weight: bold;
}

/* Style for input fields */
.add-product-form input {
    width: 70%;
    padding: 10px;
    margin: 5px 0px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the button */
.add-product-form button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the button */
.add-product-form button:hover {
    background-color: #0056b3;
}
